<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/banana.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/my-fruits.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %> <%if (user) { %>
    <header>
      <h2>Welcome <%= user.name %>!</h2>
      <form action="/search">
        <input type="text" name="name" id="search-name" placeholder="Search for.." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </header>
    <main>
      <% fruits.forEach(fruit => { %>
      <div class="index-card">
        <h3>
          <strong><a href="/fruit/<%= fruit.user._id%>"><%= fruit.user.name %></a>: </strong><%=
          fruit.name %>
        </h3>
        <div class="fruit-show-color banana-color-<%= fruit.color %>"></div>
      </div>
      <% }) %>
    </main>
    <% } else { %>
    <a href="/login">LOGIN</a>
    <a href="/signup">SIGN UP</a>
    <a href="/auth/google">LOGIN WITH GOOGLE</a>
    <% } %>
  </body>
</html>
