<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/banana.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/my-fruits.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %> <%if (user) { %>
    <header>
      <h2><%= user.name %></h2>
      <form action="/search">
        <input type="text" name="name" id="search-name" placeholder="Search for.." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </header>
    <main class="logged-in">
      <% fruits.forEach(fruit => { %>
      <div class="index-card">
        <div class="index-user-box">
          <img src="images/basic-profile-pic.webp" alt="">
          <h3>
            <a href="/fruit/<%= fruit.user._id%>"><%= fruit.user.name %></a>
          </h3>
        </div>
        <div class="index-fruit-box">
          <img class="fruit-show" src="images/banana-0<%= fruit.color %>.png"></img>
          <p><%= fruit.name %> <%= message(fruit) %>  </p>
        </div>
      </div>
      <% }) %>
    </main>
    <% } else { %>
    <main>
      <div class="google-container">
        <a href="/auth/google"
          ><span class="google"><i class="fab fa-google"></i></span> Login with Google</a
        >
      </div>
      <hr />
      <div class="login-container">
        <% errs.forEach(err => { %>
          <p class="err">err</p>
        <% }) %> 
        <form class="auth-form" method="POST" action="/login">
          <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
          <label for="inputEmail" class="sr-only">Email address</label>
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required=""
            autofocus=""
            name="email"
          />
          <label for="inputPassword" class="sr-only">Password</label>
          <input
            type="password"
            id="inputPassword"
            class="form-control"
            placeholder="Password"
            required=""
            name="password"
          />
          <div class="login-btn-container">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button
            ><a href="/signup">Sign Up</a>
          </div>
        </form>
      </div>
    </main>
    <% } %>
  </body>
</html>
<% function message(fruit) {
  let days = fruit.user.perfect - fruit.color;
  if (fruit.color < fruit.user.perfect) return `Ready in ${days} day${days > 1 ? 's' : ''}!`
  if (fruit.color > fruit.user.perfect && fruit.color > 5) return 'Muffin time!';
  return "Time to eat!";
} %>