<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/banana.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('partials/nav') %>
    <header>
      <h2><%= user.name %></h2>
      <form action="/search">
        <input type="text" name="name" id="search-name" placeholder="Search for.." />
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
    </header>
    <main>
      <% if (results.length > 0) { %> <% results.forEach(result => { %>
      <div class="search-result">
        <div class="result-user-box">
          <img src="images/basic-profile-pic.webp" alt="" />
          <h4><a href="/fruit/<%= result._id %>"><%= result.name %></a></h4>
        </div>
        <div class="result-rest">
          <p>Friends: <%= result.friends.length %></p>
          <% if (user.friends.includes(result._id)) { %>
          <form action="/search/remove/<%= result._id %>" method="POST">
            <button type="submit">Remove Friend</button>
          </form>
          <% } else { %>
          <form action="/search/<%= result._id %>" method="POST">
            <button type="submit">Add Friend</button>
          </form>
          <% } %>
        </div>
      </div>
      <% }) %> <%} else { %>
      <p>Hm... I don't seem to be able to find anyone by that name..</p>
      <%}%>
    </main>
  </body>
</html>
