<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link rel="shortcut icon" href="images/banana.png" type="image/png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/my-fruits.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %> 
      <main>
    <% if (fruits.length > 0) { fruits.forEach(fruit => { %>
        <div class="show-card">
          <div class="show-fruit-box">
            <h2><%= fruit.name %></h2>
            <img class="fruit-show" src="images/banana-0<%= fruit.newColor %>.png"></img>
          </div>
          <div class="show-fruit-info">
            <p>
              <strong>Bought</strong>: <%= new Date(fruit.bought * 8.64e+7).toDateString() %>
            </p>
            <p>
              <%= message(fruit) %> 
            </p>
            <form action="/fruit/<%= fruit._id %>?_method=DELETE" method="POST">
            <button type="submit">Eat</button></form>
          </div>
        </div>
        <% }) } else { %>
          <h3>You don't appear to have any fruit!</h3>
          <% } %>
        </main>
  </body>
</html>
<% function message(fruit) {
  let days = user.perfect - fruit.newColor;
  if (fruit.newColor < user.perfect) return `Ready in ${days} day${days > 1 ? 's' : ''}!`
  if (fruit.newColor > user.perfect && fruit.color > 5) return 'Muffin time!';
  return "Time to eat!";
} %>