<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer src="/javascripts/home.js"></script>
  </head>
  <body>
    <%- include('../partials/nav') %> <% if (fruits) { fruits.forEach(fruit => { %>
    <h2><%= fruit.name %></h2>
    <p>
      <strong><%= fruit.type %></strong>: <%=
      fruit.bought.toISOString().split('').slice(0,10).join('') %>
    </p>
    <% }) } else { %>
    <h3>You don't appear to have any fruit!</h3>
    <% } %>
  </body>
</html>
